/*@import "react-slideshow-image/dist/styles.css";*/
.homescreen {
  /*max-width: 1500px;*/
  margin: 1rem auto;
  background-color:rgb(223, 219, 219);
}

.homescreen__title {
  font-size: 1.3rem;
  color: grey;
  margin-bottom: 1rem;
  margin-left: 0px;
  background-color: palegreen;
  text-align: center;
  font-family: cursive;
}
.homescreen__slides{
  max-width: 1600px;
  margin: 1rem auto;
}
.homescreen__products {
  max-width: 1500px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 
}

@media (max-width: 1232px) {
  .homescreen__products {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 950px) {
  .homescreen__products {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 630px) {
  .homescreen__products {
    grid-template-columns: 1fr;
  }
}

.h2{
  color:red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}